<% provide(:title, "practice") %>
<div class="practice-page-wrapper">
  <div class="container">
    <%= render 'layouts/header' %>
    <div class="alphabet audioButton">
      <i class="fas fa-volume-up"></i>
      <h1>
        Aa
      </h1>
    </div>
    <div class="alphabet-image audioButton-1">
      <i class="fas fa-volume-up"></i>
      <%= image_tag "apple.png" %>
      <h2>apple</h2>
    </div>
    <%= audio_tag("Aa.mp3", id:"audio") %>
    <%= audio_tag("apple.mp3", id:"audio-1") %>
    <%=javascript_tag do%>
      document.querySelector('.audioButton').onclick = function () {
      document.querySelector("#audio").play();
      }
      document.querySelector('.audioButton-1').onclick = function () {
      document.querySelector("#audio-1").play();
      }
    <%end%>
  </div>
</div>
<%= render 'layouts/footer' %>