<% provide(:title, 'User') %>

<% flash.each do |message_type, message| %>
  <%= message %>
<% end %>
<div class="wrapper">
  <div class="user-wrapper">
    <div class="user-name-box">
      <h2><%= current_user.name %></h2>
        <%= link_to edit_user_path(current_user) do %>
          <p><i class="fas fa-cog"></i>Settings</p>
        <% end %>
      <div class="logout-button">
        <%= link_to "Log out", logout_path, method: :delete %>
      </div>
    </div>
    <div class="calender-box">

    </div>
    <div class="user-page-start-button">
      <p><%= link_to "スタート！", practice_path(1), class:"btn btn--yellow btn--border-dotted" %></p>
    </div>
  </div>
</div>