<% provide(:title, 'Edit user') %>
<div class="form-wrapper">
  <h1>Setting</h1>
  <%= form_with(model: @user, local: true) do |f| %>
    <p><%= render 'shared/error_messages' %></p>
  <form>
    <div class="form-item">
      <%= f.text_field :name, :placeholder => "Name" %>
    </div>
    <div class="form-item">
      <%= f.password_field :password, :placeholder => "Password" %>
    </div>
    <div class="form-item">
      <%= f.password_field :password_confirmation, :placeholder => "Password Confirmation" %>
    </div>
    <div class="button-panel">
      <%= f.submit "Save Changes", class:"button" %>
    </div>
  </form>
  <% end %>
  <div class="form-footer">
    <p><%= link_to "Delete account", @user, method: :delete, data: { confirm: "You sure?"} %></p>
  </div>
</div>