<% provide(:title, 'Edit user') %>
<div class="edit-wrapper">
  <div class="form-wrapper">
    <h1>Setting</h1>
    <%= form_with(model: @user, local: true) do |f| %>
      <p><%= render 'shared/error_messages' %></p>
      <form>
        <div class="form-item">
          <%= f.text_field :name, :placeholder => "Name" %>
        </div>
        <div class="form-item">
          <%= f.password_field :password, :placeholder => "Password" %>
        </div>
        <div class="button-panel">
          <%= f.submit "Save Changes", class:"button" %>
        </div>
      </form>
    <% end %>
    <div class="form-footer">
      <% unless guest_user?(@user) %>
        <p><%= link_to "Delete account", @user, method: :delete, data: { confirm: "You sure?"} %></p>
      <% end %>
    </div>
  </div>
</div>