<% provide(:title, "Practice") %>
<div class="wrapper">
  <div class="practice-wrapper">
    <div class="alphabet" onclick="audioAlphabet();">
      <i class="fas fa-volume-up"></i>
      <h1 class="<%= @alphabet.name %>"><%= @alphabet.name %></h1>
    </div>
    <% @practices.each do |practice| %>
      <div class="alphabet-image" onclick="audioPractice();">
        <i class="fas fa-volume-up"></i>
        <%= image_tag "#{practice.image}" %>
        <h2><%= practice.name %></h2>
      </div>
    <% end %>
  </div>
  <%= render 'audio_tag', alphabet: @alphabet, practices: @practices %>
  <%= render 'button_area', alphabet: @alphabet, alphabet_count: @alphabet_count %>
</div>