<% provide(:title, "#{@alphabet.name}") %>
<div class="practice-page-wrapper">
  <div class="container">
    <%= render 'layouts/header' %>
    <div class="alphabet" onclick="audioAlphabet();">
      <i class="fas fa-volume-up"></i>
      <h1 class="<%= @alphabet.name %>"><%= @alphabet.name %></h1>
    </div>
    <% @practices.each do |practice| %>
      <div class="alphabet-image" onclick="audioPractice();">
        <i class="fas fa-volume-up"></i>
        <%= image_tag "#{practice.image}" %>
        <h2><%= practice.name %></h2>
      </div>
    <% end %>
    <%= render 'audio_tag', alphabet: @alphabet, practices: @practices %>
    <%= render 'button_area', alphabet: @alphabet %>
  </div>
</div>
<%= render 'layouts/footer' %>