<% provide(:title, "#{@alphabet.name}") %>
<div class="practice-page-wrapper">
  <div class="container">
    <%= render 'layouts/header' %>
    <div class="alphabet" onclick="audioAlphabet();">
      <i class="fas fa-volume-up"></i>
      <h1 class="<%= @alphabet.name %>"><%= @alphabet.name %></h1>
    </div>
    <% @practices.each do |practice| %>
      <div class="alphabet-image" onclick="audioPractice();">
        <i class="fas fa-volume-up"></i>
        <%= image_tag "#{practice.image}" %>
        <h2><%= practice.name %></h2>
      </div>
    <% end %>
    <%= audio_tag("#{@alphabet.sound}", id:"audio-alphabet") %>
    <% @practices.each do |practice| %>
      <%= audio_tag("#{practice.sound}", id:"audio-practice") %>
    <% end %>
    <div class="button-area">
      <div class="previous-page">
        <%= link_to practice_path(previous_page(@alphabet)) do %>
          <%= image_tag "arrow-left.png" %>
        <% end %>
      </div>
      <div class="next-page">
        <%= link_to practice_path(next_page(@alphabet)) do %>
          <%= image_tag "arrow-right.png" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>