<header>
  <div class="container">
    <%= link_to root_path, id: "logo" do %>
      <%= image_tag "abc-phonics-logo.png" %>
    <% end %>
    <nav>
      <ul class="header-nav">
        <li><%= link_to "About", about_path, class: "about" %></li>
        <li><%= link_to "Index", practices_path, class: "about" %></li>
        <% unless logged_in? %>
          <li><%= link_to "log in", login_path, class:"about" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>