<header>
  <div class="container">
    <%= link_to root_path, id: "logo" do %>
      <%= image_tag "abc-phonics-logo.png" %>
    <% end %>
    <nav>
      <ul class="header-nav">
      <% if logged_in? %>
        <li><%= link_to "Logout", logout_path, method: :delete, class: "about" %></li>
      <% else %>
        <li><%= link_to "Login", login_path, class: "about" %></li>
      <% end %>
        <li><%= link_to "About", about_path, class: "about" %></li>
        <li><%= link_to "Index", practices_path, class: "about" %></li>
      </ul>
    </nav>
  </div>
</header>